{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Página 404</h1>
              <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">A pagina que você esta tentando acessar não esta disponivel </p>
              <a href="{% url 'index' %}" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Pagina inicial</a>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}

