{% load static %}
<section id="contact" class="section" data-stellar-background-ratio="-0.2">
      <div class="contact-form">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <div class="contact-us">
                <h3>Fale Conosco</h3>
                <div class="contact-address">
                  <p class="phone">Telefone: <span>(62) 99918 7545</span></p>
                  <p class="email">E-mail: <a href="mailto:communic.publicidade.marketing@gmail.com"><span>communic.publicidade.marketing@gmail.com</span></a></p>
                </div>
                <div class="social-icons">
                  <ul>
                    <li class="facebook"><a href="https://www.facebook.com/Communicpublicidadeemarketing"><i class="fa fa-facebook"></i></a></li>
                    <li class="linkedin"><a href="https://www.linkedin.com/company/communicpublicidadeemarketing/"><i class="fa fa-linkedin"></i></a></li>
                    <li class="whatsapp"><a href="https://api.whatsapp.com/send?phone=5562999187545"><i class="fa fa-whatsapp"></i></a></li>
                    <li class="instagram"><a href="https://www.instagram.com/communic.publicidade/?hl=pt-br"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <div class="contact-block">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
