{% load static %}
<section id="contact" class="section" data-stellar-background-ratio="-0.2">
      <div class="contact-form">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <div class="contact-us">
                <h3>Fale Conosco</h3>
                <div class="contact-address">
                  <p class="phone">Telefone: <span>(62)</span></p>
                  <p class="email">E-mail: <span>contato@communicmarketing.com</span></p>
                </div>
                <div class="social-icons">
                  <ul>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="whatsapp"><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                    <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <div class="contact-block">
                <form id="contato" method="post" action="{% url 'index' %}">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="nome" required data-error="Por Favor informe seu nome corretamente">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" placeholder="Email" id="email" class="form-control" name="email" required data-error="Por Favor insira seu Email">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control" id="mensagem" name="mensagem" placeholder="Mensagem" rows="8" data-error="Escreva sua mensagem" required></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div class="submit-button text-center">
                        <button class="btn btn-common" id="submit" type="submit">Enviar mensagem</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                       <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
