{% load static %}
    {% if messages %}
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="contents text-center">
                            <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Communic Publicidade e Marketing Digital</h1>
                            {% for m in messages %}
                                <h1 style="color: red" data-wow-duration="1000ms" data-wow-delay="400ms">{{ m }}</h1>
                            {% endfor %}
                            <a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Também Atendemos por Whatsapp</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% else %}
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Communic Publicidade e Marketing Digital</h1>
              <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms"></p>
              <a href="#contact" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Promova o sua empresa</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% endif %}


