{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- Navbar End -->   
    {% include 'imagem_inicial.html' %}
    <!-- Header Section End --> 

    <!-- Services Section Start -->
    {% include 'services.html'%}
    <!-- Services Section End -->

    <!-- Features Section Start -->
    {% include 'features.html' %}
    <!-- Features Section End -->    

    <!-- Portfolio Section -->

    <!-- Portfolio Section Ends --> 

    <!-- Start Video promo Section -->

    <!-- End Video Promo Section -->

    <!-- Start Pricing Table Section -->

    <!-- End Pricing Table Section -->

    <!-- Counter Section Start -->
    {% include 'counter.html' %}
    <!-- Counter Section End -->

    <!-- Team section Start -->
    {% include 'team.html' %}
    <!-- Team section End -->

    <!-- testimonial Section Start -->
    {% include 'testimonial.html' %}
    <!-- testimonial Section Start -->

    <!-- Blog Section -->
    {% include 'blog.html' %}
    <!-- blog Section End -->

    <!-- Contact Section Start -->
    {% include 'contact.html' %}
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    {% include 'footer.html' %}
    <!-- Footer Section End --> 
{% endblock %}
