{% load static %}
<section id="services" class="section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Nossos serviços</h2>
          <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"></p>
        </div>
        <div class="row">
          {% for s in services %}
          <div class="col-md-4 col-sm-6">
            <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
              <div class="icon">
                <i class="{{ s.icon }}"></i>
              </div>
              <h4>{{ s.title }}</h4>
              <p>{{ s.description }}</p>
            </div>
          </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
