{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-md-center">
          <div class="col-md-10">
            <div class="contents text-center">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">{{ publicacao.title }}</h1>
              <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms"></p>
              <a href="{% url 'index' %}" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Pagina inicial</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
            {{ publicacao.text|safe }}
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <!-- Footer Links -->

          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="copyright">
              <div class="center">
              <p>Desenvolvido por &copy;Communic {% now "Y" %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
{% endblock %}
