{% load static %}
<section id="team" class="section">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title">Equipe</h2>
          <hr class="lines">
          <p class="section-subtitle"><br>Contamos com uma equipe de profissionais e colaboradores especializados</p>
        </div>
        <div class="row">
           {% for f in funcionario %}
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <img src="{{ f.imagem.url }}" alt="">
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title">{{ f.nome }}</h4>
                  <p>{{ f.cargo }}</p>
                  <ul class="social-list">
                    <li><a href="{{ f.social_link_1 }}"><i class="{{ f.social_icon_1 }}"></i></a></li>
                    <li><a href="{{ f.social_link_2 }}"><i class="{{ f.social_icon_2 }}"></i></a></li>
                    <li><a href="{{ f.social_link_3 }}"><i class="{{ f.social_icon_3 }}"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
