{% load static %}
<div id="testimonial" class="section" data-stellar-background-ratio="0.1">
      <div class="container">
        <div class="section-header">
          <h2 style="color: white">Clientes</h2>
          <hr class="lines">
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-12">
            <div class="touch-slider owl-carousel owl-theme">
                {% for c in clientes %}
                <div class="testimonial-item">
                <img src="{{ c.imagem.url }}" alt="Client Testimonial" />
                <div class="testimonial-text">
                  <h3>{{ c.nome }}</h3>
                </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
